.form-container {
  background-color: var(--background-dark-color);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container .form-wrapper {
  background-color: #0e1f40;
  padding: 20px 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.form-container .form-wrapper .form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 25vh;
}

.form-container .form-wrapper .form input {
  background-color: #91b2f2;
  padding: 15px;
  border: none;
  border-bottom: 1px solid var(--bright-green);
  outline: none;
  border-radius: 5px;
}

.form-container .form-wrapper .form input::placeholder {
  color: #0e1f40;
}

.form-container .form-wrapper .form input:focus {
  border: 2px solid #91b2f2;
  border-radius: 5px;
  background-color: white;
}

.form-container .form-wrapper .form button {
  background-color: var(--bright-green);
  color: var(--header-dark-color);
  padding: 10px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.form-container .form-wrapper .form button:hover {
  background-color: #91b2f2;
}

.form-container .form-wrapper p {
  color: var(--bright-green);
  font-size: 12px;
  margin-top: 10px;
}

.form-container .form-wrapper .error {
  color: red;
}

.routerlink {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}
