.chat-info {
  height: 50px;
  background: #0e1f40c2;
  background-size: 9px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: var(--background-chat-light);
}

.chat-info span {
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
}

.chat-info .icons {
  display: flex;
  gap: 10px;
}

.chat-info .icons img {
  height: 24px;
}
