.home {
  background: var(--background-dark-color);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 65%;
  height: 80%;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 3px 10px rgb(0 0 0 / 0.2);
}

.sidebar {
  flex: 1;
  background: var(--header-light-color);
  position: relative;
  overflow: scroll;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.chat {
  flex: 2;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}
