body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;

  --background-dark-color: #91b2f2;
  --background-lighter-color: #4d774e;
  --header-dark-color: #0e1f40;
  --header-light-color: #0e1f40;
  --bright-green: #f1b24a;
  --background-chat-light: #f2f2f2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
